<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="./static/favicon.ico" rel="icon">
</head>
<body>
    <form>
        First Name: <input type="text"><br>
        Last Name: <input type="text"><br>
        Email: <input type="email" required><br>
        Birthday: <input type="date"><br>
        Gender: <br>
        <input type="radio" name="gender"> Male <br>
        <input type="radio" name="gender"> Female <br>
        <input type="radio" name="gender"> Other <br>
        <input type="submit" value="Register"><br>
        <input type="reset">
    </form>

</body>
</html>